name: Rust and Docker

on:
  push:
    branches: 
      - "master"
      - "minio"
  pull_request:
    branches: 
      - "master"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: self-hosted

    steps:
      # Step 1: Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Install Rust and Build the Binary
      - name: Build Rust Application
        run: |
          rustup target add x86_64-unknown-linux-musl
          cargo build --release --target=x86_64-unknown-linux-musl

      # Step 3: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 4: Login to Docker Hub (or your container registry)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 5: Build and Push Docker Image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true  # Changed from false to true to push the image
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/your-repo-name:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/your-repo-name:latest